<!--

    This file is part of Everit - Felix Webconsole ECM Configuration.

    Everit - Felix Webconsole ECM Configuration is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Everit - Felix Webconsole ECM Configuration is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Everit - Felix Webconsole ECM Configuration.  If not, see <http://www.gnu.org/licenses/>.

-->
<script type="text/javascript">
	window.ecmconfig = {
		"rootPath" : "${rootPath}" 
	};
</script>
<script type="text/javascript" src="${rootPath}/lib/underscore-min.js"></script>
<script type="text/javascript" src="${rootPath}/lib/backbone.js"></script>
<script type="text/javascript" src="${rootPath}/lib/backbone.keys.js"></script>
<script type="text/javascript" src="${rootPath}/app/models.js"></script>
<script type="text/javascript" src="${rootPath}/app/views.js"></script>
<script type="text/javascript" src="${rootPath}/app/app.js"></script>

<style>
#cnt-header {
	padding: 7px 5px 7px 5px;
}

p.config-info {
	padding: 8px 8px 8px 8px;
	background-color: #ccc;
	margin-top: 15px;
}

tr.managedservice-row {
	cursor: pointer;
}

.description {
	color: gray;
	font-size: 90%;
}

.subpid {
    margin-left: 1em;
    float: left;
}
</style>

<script type="text/template" id="tmpl-config-admin-list">
	<select name="sel-configadmin" class="ui-widget ui-widget-content ui-state-default">
	<% configAdmins.forEach(function(configAdmin) { %>
		<option value="<%= configAdmin.get("pid") %>"><%- configAdmin.get("description") %></option>
	<% }); %>
	</select>
</script>

<script type="text/template" id="tmpl-confirm-delete-configuration">
	<div title="Confirm configuration deletion">
		<p>Are you sure you want to delete configuration of managed service <b><%- service.get("name") %></b>?</p>
	</div>
</script>

<script type="text/template" id="tmpl-attribute-frame">
	<tr>
		<td>
			<%- model.get("name") %>
			<div class="description"><%- model.get("description") %></div>
		</td>
		<td>
			
		</td>
	</tr>
</script>

<script type="text/template" id="tmpl-singular-text-attribute">
	<td><%- model.get("name") %></td>
	<td><input type="text" class="ui-state-default ui-corner-all" value="<%- renderedValue %>" /></td>
</script>

<script type="text/template" id="tmpl-attribute-list">
	<div>
		<p class="description"><%- service.get("description") %></p>
		<table class="tablesorter nicetable noauto ui-widget">
			<tbody>

			</tbody>
		</table>
		<p class="ui-corner-all config-info">Service PID: <%- service.get("pid") %></p>
	</div>
</script>

<script type="text/template" id="tmpl-managed-service-factory-row">
		<td>
			<i><%- service.get("name") %></i>
		</td>
		<td>
			<i><%- service.get("bundleName") %><i>
		</td>
		<td>
			<ul class="icons">
				<li class="dynhover ui-state-default ui-corner-all">
					<span class="ui-icon ui-icon-plus" label="New Config"></span>
				</li>
			</ul>
		</td>
</script>

<script type="text/template" id="tmpl-managed-service-row">
		<td>
			<% if (service.hasFactory()) { %>
			<div class="ui-icon ui-icon-triangle-1-e subpid"></div>
			<% } %>
			<%- service.get("name") %>
		</td>
		<td><%- service.get("bundleName") %></td>
		<td>
			<ul class="icons">
				<li class="dynhover ui-state-default ui-corner-all">
					<span class="ui-icon ui-icon-trash" label="Delete"></span>
				</li>
				<li class="dynhover ui-state-default ui-corner-all">
					<span class="ui-icon ui-icon-pencil" label="Edit"></span>
				</li>
			</ul>
		</td>
</script>

<script type="text/template" id="tmpl-managed-service-list">
		<thead>
			<tr>
				<th class="ui-widget-header header">Name</th>
				<th class="ui-widget-header header">Bundle</th>
				<th class="ui-widget-header header">Actions</th>
			</tr>
		</thead>
		<tbody></tbody>
</script>

<div id="cnt-main" style="width: 100%">
	<div id="cnt-header" class="ui-widget-header ui-corner-top"></div>
</div>