<!--

    This file is part of Everit - Felix Webconsole ECM Configuration.

    Everit - Felix Webconsole ECM Configuration is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Everit - Felix Webconsole ECM Configuration is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Everit - Felix Webconsole ECM Configuration.  If not, see <http://www.gnu.org/licenses/>.

-->
<div>
<template id="tmpl-config-admin-list">
	<select name="sel-configadmin" class="ui-widget ui-widget-content ui-state-default">
	{{#each configAdmins}}
		<option value="{{pid}}">{{description}}</option>
	{{/each}}
	</select>
</template>

<template id="tmpl-threestate-checkbox">
	<span>
		<span class="ui-icon checkbox" tabindex="0"></span>
		{{#if nullable}}
			<span title="set to null (Ctrl + X)" class="btn-null ui-icon ui-icon-cancel" />
		{{/if}}
	</span>
</template>

<template id="tmpl-singular-primitive">
	<input type="{{ type }}" name="value" value="{{ value }}" placeholder="{{ placeholder }}" class="ui-state-default ui-corner-all" style="width: 80%" />
	{{#if nullable}}
		<span title="set to null (Ctrl + X)" class="btn-null ui-icon ui-icon-cancel" />
	{{/if}}
	{{#if deletable}}
		<span title="delete (Ctrl + D)" class="ui-icon ui-icon-trash btn-delete" />
	{{/if}}
</template>

<template id="tmpl-confirm-delete-configuration">
	<div title="Confirm configuration deletion">
		<p>Are you sure you want to delete configuration of managed service <b>{{ service.name }}</b>?</p>
	</div>
</template>

<template id="tmpl-attribute-frame">
	<tr>
		<td>
			{{ model.name }}
		</td>
		<td>
			<div class="description">{{ model.description }}</div>			
		</td>
	</tr>
</template>

<template id="tmpl-attribute-list">
	<div>
		<p class="description">{{ service.description }}</p>
		<table class="tablesorter nicetable noauto ui-widget">
			<tbody>

			</tbody>
		</table>
		<p class="ui-corner-all config-info">Service PID: {{ service.pid }}</p>
	</div>
</template>

<template id="tmpl-service-selector">
	{{#if queryError }}
	<p class="ui-state-error">{{ queryError }}</p>
	{{/if}}
	<form class="cnt-filter">
		Filter: <input type="text" class="ui-widget" value="{{ filter }}" style="width: 80%"/>
		<input type="submit" value="Filter" />
	</form>
	<div class="cnt-matching-services">
		<select size="10" name="matching-services">
		{{#each services}}
		<option value="{{ id }}">{{ serviceClass }}</option>
		{{/each}}
		</select>
	</div>
	<div class="cnt-service-properties"></div>
</template>

<script type="text/template" id="tmpl-service-properties">
	<table>
		<thead>
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(properties, function(prop) { %>
			<tr>
				<td><%- prop.key %></td>
				<td><%- prop.value %></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
</script>

<template id="tmpl-service-attribute">
	<input type="text" readonly="readonly" value="{{ value }}" style="width: 80%"/>
	<input type="button" class="btn-open-service-selector ui-widget ui-priority-primary" value="search"/>
	{{#if nullable}}
		<span title="set to null (Ctrl + X)" class="btn-null ui-icon ui-icon-cancel" /> 
	{{/if}}
	{{#if deletable}}
		<input type="button" value="delete" class="btn-delete ui-widget ui-priority-primary" />
	{{/if}}
</template>

<template id="tmpl-managed-service-factory-row">
		<td>
			<i>{{ service.name }}</i>
		</td>
		<td>
			<i>{{ service.bundleName }}<i>
		</td>
		<td>
			<ul class="icons">
				<li class="dynhover ui-state-default ui-corner-all">
					<span class="ui-icon ui-icon-plus" label="New Config"></span>
				</li>
			</ul>
		</td>
</template>

<template id="tmpl-managed-service-row">
		<td>
			{{# if hasFactory}}
			<div class="ui-icon ui-icon-triangle-1-e subpid"></div>
			{{/if}}
			{{ service.name }}
		</td>
		<td>{{ service.boundBundleName }}</td>
		<td>
			<ul class="icons">
				<li class="dynhover ui-state-default ui-corner-all">
					<span class="ui-icon ui-icon-trash" label="Delete"></span>
				</li>
				<li class="dynhover ui-state-default ui-corner-all">
					<span class="ui-icon ui-icon-pencil" label="Edit"></span>
				</li>
			</ul>
		</td>
</template>

<template id="tmpl-managed-service-list">
		<thead>
			<tr>
				<th class="ui-widget-header header">Name</th>
				<th class="ui-widget-header header">Bundle</th>
				<th class="ui-widget-header header">Actions</th>
			</tr>
		</thead>
		<tbody></tbody>
</template>

<template id="tmpl-servicefilter">
	Filter: <input type="text" class="ui-widget ui-widget-content ui-state-default" value="{{ serviceFilter }}" />
</template>
</div>